html
  head
  body
    form(action='/saludo', method='post')
        label(for='team_name') Enter name: 
        input#team_name(type='text', name='name')
        input(type='submit', value='OK')
        